.t-header-top {
  height: 104px;
  background: #333;
}

.wrap-header-top {
  max-width: 980px;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.wrap-header-logo {
  flex-grow: 1;
}

.m-header-bag-links {
  display: inline-flex;
  align-items: center;
}

.a-js-header-current-price {
  padding-top: 3px; 
}

.a-header-icon-bag {
  padding: 0 0.75em;
}

