.t-product-opened {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: $container-large;
  margin: auto;
  padding-top: 3em;
}

// product IMAGE PREVIEWS
.m-product-thumbnails {
  width: 20%;
  display: inline-block;
}

.a-product-thumb {
  display: block;
}

.a-product-main-preview {
  display: inline-block;
  width: 80%;
}

.a-product-thumb-img {
  width: 100%;
}

// product decision

// Switch Field
.o-product-decision-group-field {
  overflow: hidden;
  padding: 0;
  margin: 0;
  border: 0;
}

.a-product-decision-group-field-input[type="radio"] {
  position: absolute;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  width: 0;
  height: 0;
}

.a-product-decision-group-field-label {
  float: left;
}

.a-product-decision-group-field-label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 1em 0.5em;
  margin: 0.5em;
  &:hover {
    cursor: pointer;
  }
}

.a-product-decision-group-field-label:first-of-type {
  margin-left: 0;
}

.a-product-decision-group-field-label:last-of-type {
  margin-right: 0;
}

.a-product-decision-group-field-input[type="radio"]:checked
+ .a-product-decision-group-field-label {
  background-color: darkblue;
  color: aliceblue;
}

.a-product-decision-group-field-submit {
  background: #444;
  border: 0;
  margin: 1em 0;
  padding: 1em;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}