.t-product-opened {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: $container-large;
  margin: auto;
  padding-top: 3em;
}

// product IMAGE PREVIEWS
.m-product-thumbnails {
  width: 20%;
  display: inline-block;
}

.a-product-thumb {
  display: block;
}

.a-product-main-preview {
  display: inline-block;
  width: 80%;
}

.a-product-thumb-img {
  width: 100%;
}

// product decision

// Switch Field
.o-product-decision-group-field {
  padding: 40px;
	overflow: hidden;
}

.a-product-decision-group-field-input[type="radio"] {
  position: absolute;
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.a-product-decision-group-field-label {
  float: left;
}

.a-product-decision-group-field-label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  &:hover {
    cursor: pointer;
  }
}

.a-product-decision-group-field-input[type="radio"]:checked + .a-product-decision-group-field-label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}