main
  h1.a-main-headings All Products
  ul.t-main-products
    include product-card.pug
    include product-card.pug
    include product-card.pug
    include product-card.pug
    include product-card.pug
    include product-card.pug
    include product-card.pug
    include product-card.pug
