section.t-product-opened
  .o-product-previews
    .m-product-thumbnails
      a(href="#").a-product-thumb
        img(src="assets/img/item.jpg", alt="G").a-product-thumb-img
      a(href="#").a-product-thumb
        img(src="assets/img/item.jpg", alt="G").a-product-thumb-img
      a(href="#").a-product-thumb
        img(src="assets/img/item.jpg", alt="G").a-product-thumb-img
      a(href="#").a-product-thumb
        img(src="assets/img/item.jpg", alt="G").a-product-thumb-img
    img(src="assets/img/item.jpg", alt="A").a-product-main-preview
      
  .m-product-description-group
    h1.a-product-description-heading Product Name
    p.a-product-description-price ₱250.00
    p.a-product-description-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi reprehenderit quas velit ratione, laudantium ullam in atque unde iste sequi reiciendis corporis repellat cupiditate quod labore distinctio dolores minima sint.
    
    //- SHAME DAT NAME...
    form(action="#", method="post")
      fieldset.o-product-decision-group-field
        input(id="size-xs", value="extra-small", type="radio", name="product-size").a-product-decision-group-field-input
        label(for="size-xs").a-product-decision-group-field-label XS
        input(id="size-s", value="small", type="radio", name="product-size").a-product-decision-group-field-input
        label(for="size-s").a-product-decision-group-field-label S
        input(id="size-m", value="medium", type="radio", name="product-size").a-product-decision-group-field-input
        label(for="size-m").a-product-decision-group-field-label M
        input(id="size-l", value="large", type="radio", name="product-size").a-product-decision-group-field-input
        label(for="size-l").a-product-decision-group-field-label L
        input(id="size-xl", value="extra-large", type="radio", name="product-size").a-product-decision-group-field-input
        label(for="size-xl").a-product-decision-group-field-label XL
      button(type="submit").a-product-decision-group-field-submit Add to bag

//- button(type="submit").a-product-description-group-add-to-bag Add to bag