//- Footer
footer
    i
    a(href="#")
        //- SVG-PIC-SOCIAL
    i
    a(href="#")
        //- SVG-PIC-SOCIAL
    i
    a(href="#")
        //- SVG-PIC-SOCIAL
    i
    a(href="#")
        //- SVG-PIC-SOCIAL
    i
    a(href="#")
        //- SVG-PIC-SOCIAL
p Copyright Arellano 2019 Terms of Service Privacy Policy
