//- Preview Thumbnails
a(href="#") 1
    img(src="#", alt="")
a(href="#") 2
    img(src="#", alt="")
a(href="#") 3
    img(src="#", alt="")
a(href="#") 4
    img(src="#", alt="")
a(href="#") 5
    img(src="#", alt="")

//- Main Preview
img(src="#", alt="Main Preview")

//- Title and Price of item
header
    h1 Item Title
    h2 Price

p Description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor leo suscipit ipsum elementum volutpat nec id neque. Sed lorem elit.

h3 Choose your sizes

//- Sizes Buttons

//- Quantity

//- Submit all button

//- More colors

//- Suggestions

//- Footer