//- Product navigation
nav
    ul
        li
            a(href="#") All Products
        li
            a(href="#") Featured Products
        li
            a(href="#") New Products
        li
            a(href="#") Clothing Products
        li
            a(href="#") Accessories Products
