//- Newsletter
section
    header
    h1 Do you want to hear if a new design comes out?
    i Then you just need to subscribe to our newsletter!
    form(action="#")
    input(type="email", name="" placeholder="you@email.com")
    
    //- Button submit SVG picture.
    button(type="submit") Submit
