.a-main-headings {
  text-align: center;
}

.t-main-products {
  @include container-large;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 15px;
  padding: 0;
}

@import "common/item.scss";