*, ::before, ::after {
    box-sizing: border-box;
  }
  
 body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background: #ddd;
    height: 100%;
  }

  a {
    color: #fff;
    text-decoration: none;
  }