$large-container-size: 980px;

@mixin grid-container-large {
  max-width: $large-container-size;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 15px;
  padding: 0;
}
