$container-large: 1080px;

@mixin grid-container-large {
  max-width: $container-large;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 15px;
  padding: 0;
}
