ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

svg {
  height: 70px;
}

li {
  display: inline-block;
}

a {
  color: black;
  text-decoration: none;
}

nav {
  height: 91px;
  position: relative;
  background-color: #163D6E;
}

img {
  height: 70px;
}