//- Footer
footer.t-footer
    .container-footer
        a(href="#").a-footer-social-links
            i F
        a(href="#").a-footer-social-links
            i T
        a(href="#").a-footer-social-links
            i G
        a(href="#").a-footer-social-links
            i I
        p.a-footer-text © Group 3 2019 Terms of Service Privacy Policy All Rights Reserved
