li.m-main-product-card
  a(href="#").m-main-product-card-link
    img(src="/build/assets/img/item.jpg", alt="#").a-main-product-item-preview
    h3.a-main-product-item-label Product Name
    .a-main-product-item-price ₱500.00
        