nav
      ul
        li
          a(href="#") LOGO
        li
          a(href="#") Login
        li
          a(href="#") Signup
        li
          //- Price is a JS Function
          div Price
          div Cart
