//- Newsletter
section.t-newsletter
  .container-newsletter
    .wrapper-newsletter
      h2.a-newsletter-heading Do you want to hear if something new comes out?
      div.a-newsletter-sub-heading We promise that we will never spam your email.
      form(action="#").m-newsletter-form
        input(type="email", placeholder="you@email.com").a-newsletter-textbox
        button(type="submit").a-newsletter-submit Submit